html {
    font-size: 48px;
}
.clock {
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: rgb(110, 212, 110);
    
    transform: translateY(6rem);
    justify-content: center; 
    width: 20%;
    
}
.clock-face {
    
 align-items: center;
 justify-content: center;
    
    
     
}

